<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
  </head>
  <body>
    <div class="navigationbar">
      <span class="leftendtext" style="float:left;"><a href="/">/</a> insta485</span>
      <span class="rightendtext" style="float:right;"><a href="/explore/">explore </a><a href="/users/{{logname}}/">{{logname}}</a></span>
  </div>
    <p>{{logname}}</p>
    <form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
      <input type="submit" name="delete" value="confirm delete account"/>
      <input type="hidden" name="operation" value="delete"/>
    </form>
  </body>
</html>
