<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
  </head>
  <body>
          <div class="navigationbar">
            <span class="leftendtext" style="float:left;"><a href="/">/</a> insta485</span>
            <span class="rightendtext" style="float:right;"><a href="/explore/">explore </a><a href="/users/{{logname}}/">{{logname}}</a></span>
          </div>
        <hr>

    <p>Followers</p>
    {% for user in followers %}
      <div><img src="/uploads/{{user.user_img_url}}" alt=""/><a href="/users/{{user.username}}/">{{user.username}}</a></div>
      {% if user.username != logname %} 
        {% if user.logged_follows == 0 %}
          <p>not following</p>
          <form action="/following/?target=/users/{{username}}/followers/" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="{{user.username}}"/>
            <input type="hidden" name="operation" value="follow"/>
          </form>
        {% else %}
          <p>following</p>
          <form action="/following/?target=/users/{{username}}/followers/" method="post" enctype="multipart/form-data">
            <input type="submit" name="unfollow" value="unfollow"/>
            <input type="hidden" name="username" value="{{user.username}}"/>
            <input type="hidden" name="operation" value="unfollow"/>
          </form>
        {% endif %} 
      {% endif %}
    {% endfor %}
  </body>
</html>