<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
  </head>
  
  <body>
    <div class="navigationbar">
        <span class="leftendtext" style="float:left;"><a href="/">/</a> insta485</span>
        <span class="rightendtext" style="float:right;"><a href="/explore/">explore </a><a href="/users/{{logname}}/">{{logname}}</a></span>
    </div>
    <a href="/"></a>
    <a href="/explore/">explore</a>
    <a href="/users/{{logname}}/">{{logname}}</a>
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
      Old password <input type="password" name="password" />
      New password <input type="password" name="new_password1" />
      New password, again <input type="password" name="new_password2" />
      <input type="submit" name="update_password" value="submit" />
      <input type="hidden" name="operation" value="update_password"/>
    </form>
    <a href="/accounts/edit/">Back to edit account</a>
  </body>
</html>